*{
    border: 0;
    margin: 0;
}




body{
    background-color: rgb(194, 79, 13);
}


.cus-container{
    margin: 20px 200px;
}

.head{
    padding: 20px;
    text-align: center;
    color: white;
    font-size: x-large;
}

.one, .two, .three, .four{
    margin: 30px;
    width: 600px;

    display: flex;
    padding: 40px;
    background-color: white;
    border-radius: 20px;
}

.first-row{
    display: flex;

    margin: 30px;

}

.sec-container{
    display: flex;
    margin: 30px;
}


.internal{
    margin: 0px 30px;
}

.content{
    height: 150px;
}


.job{
    color: rgb(92, 89, 89);
    height: 20px;
}


.internal h3{
    padding: 20px 0;
}


img{
    height: 250px;
    width: 200px;
    object-fit: cover;
}